<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">       
      <h2 class="logo-nav">NEBULA</h2>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'datasets' %}active{% endif %}" href="{% url 'datasets' %}">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Datasets Visualization</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="examples/map.html">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Network</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="examples/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Data Files</span>
            </a>
          </li>            
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted marg-left">
          <span class="docs-normal">Links</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link marg-left" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html" target="_blank">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">Github</span>
            </a>
          </li>         
        </ul>
      </div>
    </div>
  </div>
</nav>