<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">       
      <h2 class="logo-nav">NEBULA</h2>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://nasa-spaceapps.barrancoweb.com/">
              <i class="ni ni-chart-bar-32 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://nasa-spaceapps.barrancoweb.com/datasets/">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Datasets Visualization</span>
            </a>
          </li>                  
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted marg-left">
          <span class="docs-normal">Links</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link marg-left" href="https://github.com/barrancocarlos" target="_blank">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">Github</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link marg-left" href="https://nasa-spaceapps.barrancoweb.com/static/assets/data/nasa-ontology.owl" target="_blank">
              <i class="ni ni-collection"></i>
              <span class="nav-link-text">Ontology RDF</span>
            </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link marg-left" href="https://nasa-spaceapps.barrancoweb.com/static/assets/data/nasa-ontology.json" target="_blank">
              <i class="ni ni-collection"></i>
              <span class="nav-link-text">Ontology JSON</span>
            </a>
          </li>        
        </ul>
      </div>
    </div>
  </div>
</nav>